
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');



*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #191f53;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.4;
}
main{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    border-radius: 50%;
    border: 1px solid #090b1f;
    align-self: center;
    height: 30px;
    width: 30px;
}

.text{
    display: grid;
    place-items: center;
    letter-spacing: 2px;
}
.card-container{
    border-radius: 20px;
    width: 500px;
    padding: 1.5rem;
    background-color: #1f245c;
    box-shadow: 0px 0px 40px #090b1f;
    border-top: 4px solid #d91794;
}
.card-head {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.card-head h1{
    font-size: 18px;
}

.card-head p {
    font-size: 12px;
    color: #9ca2b3;
}
.card-content{
    font-size: 16px;
    color: #9ca2b3;
}
.card-progress{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.bar{
    position: relative;
}

.bar hr{
    width: 340px;
    height: 10px;
    border-radius: 10px;
    margin-top: 6px;
    border: none;
    background-color: #111447;
}

.bar .progress{
    position: absolute;
    top: 0px;
    background-color: #22e0d0;
    width: 140px;
}

.card-footer > img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 0.5rem;
}