 input {
    background-color: transparent;
    border: 1px solid #676b70;
    outline: none;
}

label {
    font-size: 15px;
}

input::placeholder {
    color: #676b70;
    background-color: transparent;
}

textarea {
    resize: none;
}

input[type='checkbox'] {
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px solid #676b70;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  outline: none;
}

input[type='checkbox']::after {
  content: '\2713';
  font-size: 1rem;
  display: none;
}

input[type='checkbox']:hover {
  background-color: rgba(243, 243, 243, 0.103)
}

input[type='checkbox']:checked {
  background-color: #5bcd3e;
  border: 1px solid #5bcd3e;
}

input[type='checkbox']:checked::after {
  display: block;
  color: #fff;
}

/* MODAL */

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 450px;
  padding: 2.3rem 3.3rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #232631;
  z-index: 2;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.438);
}

.modal p {
  color: white;
}

.back-to-form-btn {
  display: inline-block;
  padding: 0.3rem 1.5rem;
  background-color: transparent;
  color: #fff;
  border: 1px solid white;
  text-align: center;
  font-size: 1em;
  transition: all 0.15s ease-in;
}

/* OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(53, 53, 53, 0.5);
  backdrop-filter: blur(1.5px);
  z-index: 1;
}

.hiddenM {
  display: none;
}