@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Merriweather:wght@400;700;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Merriweather", serif;
  background-color: #f5f8ff;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgb(245, 248, 255, 0.6);
  width: 75rem;
  display: flex;
  border: 15px solid white;
  border-radius: 20px;
  padding: 4rem;
  position: relative;
}

.pricing-plan {
  width: calc(69rem / 3);
  margin-right: 3rem;
  postion: relative;
}

.pricing-plan:last-of-type {
  margin-right: 0;
}

.free::before {
  content: "";
  width: 35rem;
  height: 35rem;
  border: none;
  border-radius: 50%;
  background-color: rgb(237, 187, 255, 0.7);
  position: absolute;
  top: 14rem;
  right: 9rem;
  filter: blur(80px);
  z-index: -1;
}

.standard::after {
  content: "";
  border: none;
  width: 35rem;
  height: 35rem;
  background-color: rgb(174, 241, 245, 0.7);
  position: absolute;
  z-index: -1;
  top: -20rem;
  left: -15rem;
  border-radius: 50%;
  filter: blur(80px);
}

.premium::after {
  filter: blur(80px);
  border: none;
  bottom: 14rem;
  left: 7rem;
  border-radius: 50%;
  z-index: -1;
  content: "";
  height: 35rem;
  width: 35rem;
  position: absolute;
  background-color: rgb(255, 221, 182, 0.7);
}

h1 {
  font: 700 2rem "Merriweather", serif;
}

h2 {
  font: 900 4rem "Lato", sans-serif;
  margin: 0;
}

.dollar-sign {
  font-size: 2.3rem;
  font-weight: 600;
}

p {
  max-width: 90%;
  font: 500 1.1rem "Poppins", sans-serif;
}

p:first-of-type {
  margin-top: 0;
}
.description {
  font: 500 1.5rem/1.7rem "Poppins", sans-serif;
  margin-top: 2.2rem;
}

button {
  margin: 3rem 0 2rem;
  border-radius: 6px;
  padding: 1.3rem;
  border: none;
  font: 600 1.2rem "Poppins" sans-serif;
  transition: all 0.3s ease;
}

.free-btn {
  background-color: #edbbff;
  color: #000;
}

.free-btn:hover {
  box-shadow: 2px 2px 6px #b690c4;
}

.standard-btn {
  background-color: #aef1f5;
}

.standard-btn:hover {
  box-shadow: 2px 2px 6px #7aa9ac;
}
.premium-btn {
  background-color: #ffddb6;
}

.premium-btn:hover {
  box-shadow: 2px 2px 6px #b49c80;
}

@media (max-width: 900px) {
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    height: fit-content;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
  }

  .pricing-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-top: 3rem;
    border-bottom: 1px solid rgb(209, 209, 209);
  }

  .pricing-plan:last-of-type {
    border-bottom: none;
  }

  .free::before {
    width: 30rem;
    height: 30rem;
    top: -10rem;
    left: -20rem;
  }

  .standard:after {
    width: 30rem;
    height: 30rem;
    top: -1rem;
    left: 13rem;
  }

  .premium::after {
    width: 30rem;
    height: 30rem;
    bottom: -10rem;
    left: -20rem;
  }

  .description {
    text-align: center;
  }
}
