*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Colors*/
  --white: #fff;
  --background: #0d1e5c;
  --background-icon: #2c3d7b;
  --blue: #296fd4;
  --red: #bc3379;
  --text: #b6c1e2;

  /*Fonts*/
  --font: "Poppins", sans-serif;

  /*Font size*/
  --fs-1: 4.8rem;
  --fs-2: 3.6rem;
  --fs-3: 3rem;
  --fs-4: 2.4rem;
  --fs-12: 2.2rem;
  --fs-5: 1.8rem;
  --fs-6: 1.6rem;
  --fs-7: 1.4rem;
  --fs-8: 1.2rem;
  --fs-9: 1rem;
  --fs-10: 1.1rem;
  --fs-11: 0.9rem;

  /*Font weight*/
  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  /*Border radius*/
  --radius-10: 1rem;
  --radius-8: 0.8rem;
  --radius-5: 0.5rem;
  --radius-3: 0.3rem;
  --radius-15: 1.5rem;
  --radius-circle: 50%;
  --radius-semi-circle: 100px;

  --width: 10px;
  --height: 10px;
  /*Line height*/
  --lh: 1.7;
}

html {
  font-family: var(--font);
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}
button {
  border: none;
  background: transparent;
}
button svg {
  stroke: var(--gray-ligher);
  cursor: pointer;
}
body {
  display: flex;
  /*  justify-content: center;*/
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background: var(--background);
}

.container {
  max-width: 950px;
  width: 90%;
  /* margin-block: 200px; */
}

.down-box {
  position: relative;
  bottom: 0px;
  right: -38%;
}
.up-box {
  /* position: absolute; */
  top: 0px;
  left: 30%;
}
.up circle {
  r: 200px;
}
.features-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.features-title {
  color: var(--text);
  font-size: var(--fs-3);
}
.features {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
.feature {
  display: flex;
  gap: 10px;
}
.feature-img-box {
  position: relative;
  top: -10px;
}
.feature-img {
  width: 60px;
  height: 60px;
  display: block;
  background: var(--background-icon);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-circle);
  position: relative;
  overflow: hidden;
}
.feature-img svg {
  stroke: var(--text);
  width: 20px;
  height: 20px;
  position: relative;
  top: -5px;
  left: 5px;
}
.feature-img::after,
.feature-img::before {
  width: 60px;
  height: 60px;
  background: transparent;
  content: "";
  position: absolute;
  border: 2px solid var(--background);
  border-radius: var(--radius-circle);
}
.feature-img::after {
  top: -5px;
  left: 5px;
}

.feature-img::before {
  top: -4px;
  left: -1px;
}
.feature-title {
  color: var(--text);
  font-size: var(--fs-5);
}
.feature-content {
  color: var(--white);
  line-height: var(--lh);
  font-size: var(--fs-8);
}

@media screen and (min-width: 560px) {
  .features {
    grid-template-columns: repeat(2, 2fr);
    gap: 60px;
  }

  .features-title {
    margin-left: 70px;
    font-size: var(--fs-1);
  }
  .feature-content {
    font-size: var(--fs-6);
  }
  .feature-title {
    font-size: var(--fs-4);
  }
}
