:root {
    --bg-body: #f8fcff;
    --bg-main: #ffffff;
    --bg-second: #5e86f2;
    --font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    margin: 0;
    background: var(--bg-body);
    min-height: 100vh;
    display: grid;
    place-items: center;
}

h1,
p {
    margin: 0;
}

button {
    border: none;
    padding: 0;
    cursor: pointer;
}

main {
    width: 1250px;
    min-height: 734px;
    padding: 80px 100px;
    background: var(--bg-main);
    border-radius: 10px;
    position: relative;
}

main::before {
    content: '';
    width: 100%;
    height: 100%;
    background: #e6effc;
    border-radius: 15px;
    position: absolute;
    left: 0;
    bottom: -14px;
    z-index: -1;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 28px;
}

.found_results {
    font-size: 14px;
    opacity: .8;
}

.display {
    margin: 30px 0 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.display_btns {
    border-radius: 6px;
    overflow: hidden;
    display: flex;
}

.display_btns > button {
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
}

.display_btns > button svg {
    width: 22px;
    height: 22px;
    stroke: #5b595c;
}

.display_btns > button.selected {
    background: var(--bg-second);
}

.display_btns > button.selected svg {
    fill: #fff;
    stroke: #fff;
}

/* Filters */

.filters {
    margin: 24px 0 0;
    display: flex;
    align-items: flex-start;
    gap: 14px;
    position: relative;
}

.filter_btn {
    padding: 8px 12px;
    background: transparent;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.filter_btn svg {
    width: 23px;
    height: 23px;
    margin: 0 4px 0 0;
}

.selected_filters_count {
    width: 20px;
    height: 20px;
    margin: 0 0 0 5px;
    border-radius: 50%;
    background: var(--bg-second);
    color: #fff;
    font-size: 12px;
    display: grid;
    place-items: center;
}

.selected_filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px;
}

.selected_filter {
    padding: 4px 25px;
    background: var(--bg-second);
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.remove_filter_btn {
    background: transparent;
    margin: 5px 0 0;
}

.remove_filter_btn svg {
    width: 21px;
}

.filters_list {
    width: 200px;
    padding: 15px;
    background: var(--bg-main);
    border: 1px solid #ccc;
    border-radius: 8px;
    position: absolute;
    left: 0;
    top: 55px;
    z-index: 2;
}

.filters_list div {
    margin: 6px 0;
}

.filters_list label {
    cursor: pointer;
}

/* Results */

.results {
    padding: 55px 0 0;
    display: flex;
    gap: 23px;
    flex-wrap: wrap;
}

.results.display_sqr .result {
    width: 280px;
} 

.result {
    width: 513px;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    gap: 45px;
    position: relative;
}

.results.display_sqr .result img {
    width: 100px;
    height: 100px;
}

.results.display_sqr .result {
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.results.display_sqr .result_details a {
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.results.display_sqr .save_btn {
    top: 10px;
    right: 10px;
}

.results.display_sqr .preparation_time {
    justify-content: center;
}

.result img {
    width: 120px;
    border-radius: 50%;
}

.result_details a {
    display: block;
    width: 78%;
    color: #000;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
}

.result_details a:hover {
    text-decoration: underline;
}

.preparation_time {
    margin: 10px 0 0;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}

.preparation_time svg {
    width: 25px;
    height: 25px;
}

.save_btn {
    background: transparent;
    position: absolute;
    top: 20px;
    right: 28px;
}

.save_btn svg {
    width: 22px;
}

.hidden {
    display: none;
}

@media(max-width: 1260px) {
    main {
        width: 100%;
    }

    .results {
        justify-content: center;
    }
}

@media(max-width: 800px) {
    header {
        flex-direction: column;
    }

    main {
        padding: 50px;
    }

    .selected_filters {
        flex-wrap: wrap;
    }

    .result {
        width: 100%;
    }
}

@media(max-width: 700px) {
    body {
        display: block;
        background: #fff;
    }

    main::before {
        display: none;
    }
}

@media(max-width: 500px) {
    .filters {
        flex-direction: column;
    }
    
    .result {
        gap: 20px;
    }

    main {
        padding: 50px 20px; 
    }

    .result img {
        width: 80px;
        height: 80px;
    }

    .result_details a {
        font-size: 18px;
    }
}