
:root {
  --backgroundColor: #f7f9fb;
  --textcolor: #1f2229;
  --linkColor: #025ddc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
      font-family: "Mulish", sans-serif;

}