
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    /* width: 100vw; */

}

.star-fill {
    stroke: #ABB8FE;
    fill: #ABB8FE;
    height: 16px;
    width: 16px;
}

.star-empty {
    stroke: #ABB8FE;
height: 16px;
    width: 16px;
}

.euro{
    color: #526E79;
}
.card{
    min-width: 180px;
    min-width: 140px;
    border: 1px solid #EBEFF2;
    color: #546F7A;
    padding-bottom: 10px;
    background-color: #fff;
}
.header{
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    background: url("https://images.unsplash.com/photo-1450044804117-534ccd6e6a3a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
    column-gap: 10px;
    background-size: cover;
    min-width: 1000px;
}
.header-text   {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 3rem;
}
.read-btn > button{
    padding: 8px 35px;
    color: #8AA1FF;
    font-weight: 600;
    border: none;
    cursor: pointer;
    
}
main{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.singer-image{
    width: 100%;
}
.card-text{
    padding: 10px;
}
.album{
    font-size: 14px;
    font-weight: 600;
}

.rating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    
}

.euro{
    font-size: 14px;
    font-weight: 700;
}

.section-card{
    width: 300px;
    height: 100px;
    background-color: cyan;
}

