@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #E2ECF4;
    font-family: 'Rubik', sans-serif;
}

main{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 6rem 2rem;
    text-align: center;
    align-items: center;
    gap: 20px;
    color: #5A5572;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
span{
    color: blue;
}
.no-account{
    position: absolute;
    /* left: 340px; */
    right: 20px;
    top: 10px;
    font-size: .8rem;
}

button{
    background-color: #232E4D;
    color: #d3d3d3;
    border-radius: .5rem;
    padding: 1rem;
    width: 80%;
    
}

section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 80%;
}
section > input{
    padding: .8rem;
    width: 100%;
}