@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    background-color: #36306D;

}

.container {
    padding: 2rem;
    background-color: #5B4585;
    width: 800px;
    display: flex;
    position: relative;
}

.section-one {
    width: 50%;
    flex-direction: column;
    display: flex;
    gap: 40px;

}

.section-two {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 1fr));

    margin-left: auto;
}


.p {
    padding-left: 1rem;
}

button {
    border: none;
    background-color: #634E89;
    color: #fff;
    padding: 1.2rem;
}

div>p:nth-child(1) {
    font-size: 3rem;
}

div>p:nth-child(2) {
    font-weight: 100;
    font-size: .8rem;
}

.container::before {
    content: "";
    background: #312c5a;
    position: absolute;
    z-index: -1;
    inset: -20px 40px -20px 40px;
}

.stat:first-child {
    border-right: 2px solid #685c9e;
    border-bottom: 2px solid #685c9e;
}

.stat:nth-child(2) {
    border-bottom: 2px solid #685c9e;
}

.stat:nth-child(3) {
    border-right: 2px solid #685c9e;
}