@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Merriweather:wght@300&family=Mulish:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: #3C646C;
    color: #4C737B;
}

.question{
    border-radius: 10px 10px 0px 0px;
}
.container {
   
    height: 400px;
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    margin: 4rem 1rem;
}

.success {
    padding: 15px;
    display: flex;
    flex-direction: column;

}

.question {
    padding: 32px;
    text-align: center;
    color: #4C737B;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    background-color: #F2FCFE;
}


.polling-group {
    border-bottom: 1px solid #effbff;
    padding: 1rem 1.4rem;
}

.info {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.empty-bar {
    width: 90%;
    height: 12px;
    background-color: #F3F3F3;
    border: 1px solid #fcf2f2;
    border-radius: 500px;
}

.success-bar,
.no-bar,
.only-bar {
    height: 10px;
    border-radius: 500px;
}

.success-bar {
    width: 65%;
    background-color: #99E970;
}

.vote-percentage {
    font-size: 1.2rem;
    font-weight: 600;
}

.no-bar {
    width: 12%;
    background-color: #FF5F57;
}

.only-bar {
    width: 23%;
    background-color: #FF994E;
}

.btn-container {
    margin: 1.4rem;
    display: flex;
    justify-content: center;

}

button {
    cursor: pointer;
    border-radius: 6px;
    padding: 0.8rem 2rem;
    color: white;
    background-color: #06B3D5;
    text-transform: capitalize;
    transition: all 0.25s ease-out;
    border: none;

}

button:hover {
    filter: brightness(1.2);
}