@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

li {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
    font-size: 0.8rem;

}

section>div>p {
    padding-left: 20px;
}

section {
    padding: 1rem 2rem;
    color: #BCC7E5;
    border-radius: 5px;
    flex-direction: column;
    display: flex;
    gap: 20px;
}

.header {
    display: flex;
}

body {
    background-color: #F0EFF2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}

main {
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 550px;
    padding: 2rem 0 0 0;
    display: flex;
    align-items: center;

    flex-direction: column;
    gap: 20px;

    color: #1E2648;
    position: relative;
}

.icon>svg {
    width: 50px;
    height: 50px;
    color: #B7D53B;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

section {
    background-color: #232E4D;
}

span {
    font-weight: 600;
}




.mushroom {
    border: 1px solid #d3d3d3;
    background-color: #FAFCFE;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.5rem;
    width: 70%;
    margin-bottom: 20px;
}

footer {
    background-color: #F5F7F9;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer>p {

    font-size: 0.9rem;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 40px;

}



footer:before {
    background: linear-gradient(-45deg, #f5f6f9 16px, transparent 0), linear-gradient(45deg, #f5f6f9 16px, transparent 0);
    background-position: left top;
    background-repeat: repeat-x;
    background-size: 22px 32px;
    content: " ";
    display: block;
    height: 32px;
    width: 100%;
    position: relative;
    bottom: 32px;
    left: 0;
}