* {
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  background: rgb(80, 60, 77);
  background: linear-gradient(
    140deg,
    rgba(80, 60, 77, 1) 0%,
    rgba(71, 55, 69, 1) 25%,
    rgba(71, 57, 70, 1) 30%,
    rgba(66, 54, 66, 1) 40%,
    rgba(52, 49, 57, 1) 60%,
    rgba(50, 49, 56, 1) 89%,
    rgba(50, 49, 56, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  max-width: 80%;
  width: 800px;
  /* border: 1px solid #fff; */
}
.container-input {
  display: flex;
  position: relative;
}
/* input */
.input {
  width: 100%;
  padding: 1.5em;
  background-color: #645f6d;
  border-radius: 0.2em;
  border: none;
}
.input::placeholder {
  color: rgba(255, 255, 255, 0.75);
  font-size: 18px;
}
.input:hover,
.input:focus {
  outline: none;
}
/* button */
.container-input .btn-wrapper {
  position: relative;
}
.container-input .btn-wrapper .btn {
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #313138;
  border: 4px solid #f873a8;
  color: #f873a8;
  font-size: 18px;
  font-family: inherit;
  z-index: 3;
  cursor: pointer;
}
.container-input .layer {
  content: "";
  position: absolute;
  width: 68px;
  height: 68px;
  background-color: #313138;
  border-radius: 50%;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.container-input .layer-two {
  content: "";
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: #645f6d;
  border-radius: 50%;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.filters {
  background-color: transparent;
  padding: 0.5em;
  border: none;
  font-size: 16px;
  color: #f873a8;
  font-family: inherit;
}
.filters:focus {
  outline: none;
}